html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
	background:whitesmoke;
}
#top{
margin-left:165px;
text-align:left;
padding-top:70px;
}
.intro{
padding-top:20px;
font-size:45px;
letter-spacing: .2rem;
font-family: 'Montserrat', sans-serif;
text-align:left;
margin-top:0px;
margin-right:300px;
}
.brand-heading {
	padding-top:20px;
	font-size: 75px;
	padding-bottom:5px;
	}
.home-image{
	margin-top:-330px;
	margin-left:700px;
}
img{
	border-radius:3000px;
}
#about{
padding-bottom:60px;
margin-top:-70px;
margin-left:-20px;
padding-left:0px;
text-align:left;
}
.about-content{
	border-radius:20px;
	color:#000000;
	font-family: Roboto, sans-serif;
	font-size:20px;
	text-align:justify;
	letter-spacing: .1rem;
	background-color:#D4D4D4;
	padding:7px;
	margin:16px 170px 10px 170px;
}
#services{
overflow:hidden;
/* margin-left:-60px; */
padding:20px 0px 80px 0px;
text-align:center;
align-content:center;
}
.project-header{
	margin-left:70px;
	color:black;
	font-size:45px;
	text-align:center;
}
#contact{
overflow:hidden;
align-content:center;
padding:60px 20px 100px 20px; 
text-align:center;
color:black;
font-size:20px;
position:relative;
}
.btn{
	position:absolute;
  background:#010004;
  width:180px;
  text-align:center;
  color:white;
  margin-left:1080px;
  border-radius:6px;
  margin-top:10px;
	margin-bottom:10px;
  border-bottom: #010004 3px solid;
  font-size:30px;
  border-right: #010004 1px solid;
  border-left: #010004 1px solid;
}
.btn:hover{
	position:absolute;
  background:#97B8D1;
  width:180px;
  text-align:center;
  color:black;
  margin-left:1090px;
  border-radius:6px;
  margin-top:10px;
	margin-bottom:10px;
  border-bottom: #97B8D1 3px solid;
  font-size:30px;
  border-right: #97B8D1 1px solid;
  border-left: #97B8D1 1px solid;
}
.btn-1{
	position:absolute;
  background:#010004;
  width:180px;
  text-align:center;
  color:white;
  margin-left:1160px;
  border-radius:6px;
  margin-top:10px;
	margin-bottom:10px;
  border-bottom: #010004 3px solid;
  font-size:30px;
  border-right: #010004 1px solid;
  border-left: #010004 1px solid;
}

.btn-1:hover{
	position:absolute;
  background:#97B8D1;
  width:180px;
  text-align:center;
  color:black;
  margin-left:1170px;
  border-radius:6px;
  margin-top:10px;
	margin-bottom:10px;
  border-bottom: #97B8D1 3px solid;
  font-size:30px;
  border-right: #97B8D1 1px solid;
  border-left: #97B8D1 1px solid;
}
.Resume-btn{
	position:absolute;
  background:black;
  width:180px;
  text-align:center;
  color:white;
  margin-left:250px;
  border-radius:6px;
  margin-top:10px;
	margin-bottom:10px;
  border-bottom: #010004 3px solid;
  font-size:30px;
  border-right: #010004 1px solid;
  border-left: #010004 1px solid;
}
.Resume-btn:hover{
	position:absolute;
  background:#97B8D1;
  width:180px;
  text-align:center;
  color:black;
  border-radius:6px;
  margin-top:10px;
	margin-left:225px;
	margin-bottom:10px;
  border-bottom: #97B8D1 3px solid;
  font-size:30px;
  border-right: #97B8D1 1px solid;
  border-left: #97B8D1 1px solid;
}
.Resume-btn-1{
	position:absolute;
  background:black;
  width:180px;
  text-align:center;
  color:white;
  margin-left:250px;
  border-radius:6px;
  margin-top:20px;
	margin-bottom:10px;
  border-bottom: #010004 3px solid;
  font-size:30px;
  border-right: #010004 1px solid;
  border-left: #010004 1px solid;
}

.Resume-btn-1:hover{
	position:absolute;
  background:#97B8D1;
  width:180px;
  text-align:center;
  color:black;
  border-radius:6px;
  margin-top:25px;
	margin-left:255px;
	margin-bottom:10px;
  border-bottom: #97B8D1 3px solid;
  font-size:30px;
  border-right: #97B8D1 1px solid;
  border-left: #97B8D1 1px solid;
}
.Projects-btn{
	position:absolute;
  background:black;
	width:180px;
  text-align:center;
  color:white;
  margin-left:880px;
  border-radius:6px;
  margin-top:20px;
	margin-bottom:10px;
  border-bottom: #010004 3px solid;
  font-size:30px;
  border-right: #010004 1px solid;
  border-left: #010004 1px solid;
}

.Projects-btn:hover{
	position:absolute;
  background:#97B8D1;
  width:180px;
  text-align:center;
  color:black;
  margin-left:880px;
  border-radius:6px;
  margin-top:30px;
	margin-bottom:10px;
  border-bottom:#97B8D1 3px solid;
  font-size:30px;
  border-right: #97B8D1 1px solid;
  border-left: #97B8D1 1px solid;
}

.Projects-btn-1{
	position:absolute;
  background:black;
  width:180px;
  text-align:center;
  color:white;
  margin-left:15px;
  border-radius:6px;
  margin-top:20px;
	margin-bottom:10px;
  border-bottom: #010004 3px solid;
  font-size:30px;
  border-right: #010004 1px solid;
  border-left: #010004 1px solid;
}

.Projects-btn-1:hover{
	position:absolute;
  background:#97B8D1;
  width:180px;
  text-align:center;
  color:black;
  margin-left:10px;
  border-radius:6px;
  margin-top:30px;
	margin-bottom:10px;
  border-bottom:#97B8D1 3px solid;
  font-size:30px;
  border-right: #97B8D1 1px solid;
  border-left: #97B8D1 1px solid;
}

.Projects-btn-2{
	position:absolute;
  background:black;
  width:180px;
  text-align:center;
  color:white;
  margin-left:665px;
  border-radius:6px;
  margin-top:10px;
	margin-bottom:10px;
  border-bottom: #010004 3px solid;
  font-size:30px;
  border-right: #010004 1px solid;
  border-left: #010004 1px solid;
}

.Projects-btn-2:hover{
	position:absolute;
  background:#97B8D1;
  width:180px;
  text-align:center;
  color:black;
  margin-left:665px;
  border-radius:6px;
  margin-top:20px;
	margin-bottom:10px;
  border-bottom:#97B8D1 3px solid;
  font-size:30px;
  border-right: #97B8D1 1px solid;
  border-left: #97B8D1 1px solid;
}

.Projects-btn-3{
	position:absolute;
  background:black;
  width:180px;
  text-align:center;
  color:white;
  margin-left:673px;
  border-radius:6px;
  margin-top:20px;
	margin-bottom:10px;
  border-bottom: #010004 3px solid;
  font-size:30px;
  border-right: #010004 1px solid;
  border-left: #010004 1px solid;
}

.Projects-btn-3:hover{
	position:absolute;
  background:#97B8D1;
  width:180px;
  text-align:center;
  color:black;
  margin-left:673px;
  border-radius:6px;
  margin-top:25px;
	margin-bottom:10px;
  border-bottom:#97B8D1 3px solid;
  font-size:30px;
  border-right: #97B8D1 1px solid;
  border-left: #97B8D1 1px solid;
}

.home-btn{
  background:#010004;
  width:180px;
  text-align:center;
  color:white;
  margin-left:990px;
  border-radius:6px;
  margin-top:40px;
	margin-bottom:10px;
  border-bottom: #010004 3px solid;
  font-size:30px;
  border-right: #010004 1px solid;
  border-left: #010004 1px solid;
}

.home-btn:hover{
  background:#97B8D1;
  width:180px;
  text-align:center;
  color:black;
  margin-left:995px;
  border-radius:6px;
  margin-top:45px;
	margin-bottom:10px;
  border-bottom: #97B8D1 3px solid;
  font-size:30px;
  border-right: #97B8D1 1px solid;
  border-left: #97B8D1 1px solid;
}
.highlighted {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: background-size .5s;
}

.highlighted.yellow {
  background-image: linear-gradient(to top, yellow 60%, transparent 0);
}
.highlighted.green {
  background-image: linear-gradient(to top, #C9DAE9 90%, transparent 0);
}
.highlighted.blue {
background-image: linear-gradient(to top, #97B8D1 100%, transparent 0);
}

.highlighted.animating {
  background-size: 0 auto;
}
.back-frame{
  background-color:#97B8D1;
  width:320px;
  height:370px;
  margin-left:80px;
  margin-top:40px;
  margin-right:0px;
  display:inline-block;
  position:relative;
	border-radius:10px;
}
.back-frame:hover{
  background-color:#616161;
  width:320px;
  height:370px;
  margin-left:80px;
  margin-top:40px;
  margin-right:0px
  display:inline-block;
  position:relative;
	border-radius:10px;
}
.pin{
  background-color:#CD853F;
  height:50px;
  width:25px;
	opacity:0.8;
  top:0px;
  left:60px;
  margin-left:35px;
  margin-right:auto;
  z-index:99;
  position:absolute;
}
.photo-frame{
  position:absolute;
  top:90px;
  display:inline-block;
  transform: rotate(5deg);
  background-color:white;
  height:200px;
  width:158px;
  top:30px;
	margin-top:-5px;
  margin-left:-80px;
  margin-right:0px;
  box-shadow: 3px 3px 3px 2px gray;
  text-align:center;
}
.description{
  transform: rotate(0.5deg);
  font-size:18px;
  margin-top:10px;
}
.description-1{
  transform: rotate(0.5deg);
  font-size:18px;
  margin-top:-2.5px;
}

.photo-frame:hover{
  transform: rotate(-5deg);
  cursor: pointer;

}
.photo-inner{
  height:140px;
  width:140px;
  background-image: url("https://i.pinimg.com/564x/d8/87/29/d88729e2f55eac3467636a0e9c04669b.jpg");
  background-size:cover;
  position: relative;
  background-position: center center;
  margin-top:12px;
  margin-left:10px;
  margin-right:12px;
}
.photo-inner-1{
  height:140px;
  width:140px;
  background-image: url("https://i.pinimg.com/564x/da/bb/e9/dabbe9a64924d718b715cff07d036c35.jpg");
  background-size:cover;
  position: relative;
  background-position: bottom;
  margin-top:12px;
  margin-left:10px;
  margin-right:12px;
}
.photo-inner-2{
  height:140px;
  width:140px;
  background-image: url("https://i.pinimg.com/564x/f1/0d/6a/f10d6a7863055645c9fb2449758f441b.jpg");
  background-size:cover;
  position: relative;
  background-position:center;
  margin-top:12px;
  margin-left:10px;
  margin-right:12px;
}
.photo-inner-3{
  height:140px;
  width:140px;
  background-image: url("https://i.pinimg.com/564x/1e/b3/97/1eb397cbb157d8a26a28e7c505d9ef35.jpg");
  background-size:cover;
  position: relative;
  background-position: center;
  margin-top:12px;
  margin-left:10px;
  margin-right:12px;
}
.photo-inner-4{
  height:140px;
  width:140px;
  background-image: url("https://i.pinimg.com/564x/24/05/e0/2405e00dc1d9e230f785126737f4a86e.jpg");
  background-size:cover;
  position: relative;
  background-position:bottom;
  margin-top:12px;
  margin-left:10px;
  margin-right:12px;
}
.photo-inner-5{
  height:140px;
  width:140px;
  background-image: url("https://i.pinimg.com/564x/d9/7b/1f/d97b1fbf2b0d261b9eb9686385cf7026.jpg");
  background-size:cover;
  position: relative;
  background-position: bottom;
  margin-top:12px;
  margin-left:10px;
  margin-right:12px;
}
.photo-inner-6{
  height:140px;
  width:140px;
  background-image: url("https://i.pinimg.com/564x/c9/3a/69/c93a69d0a7a5d6ef685224858ca95586.jpg");
  background-size:cover;
  position: relative;
  background-position: bottom;
  margin-top:12px;
  margin-left:10px;
  margin-right:12px;
}
.photo-inner-7{
  height:140px;
  width:140px;
  background-image: url("https://sites.google.com/a/thelearningpoint.net/www/_/rsrc/1573113724545/computer-science/graph-algorithms/GraphDFS.png");
  background-size:cover;
  position: relative;
  background-position: bottom;
  margin-top:12px;
  margin-left:10px;
  margin-right:12px;
}
.photo-inner-8{
  height:140px;
  width:140px;
  background-image: url("https://i.pinimg.com/564x/4e/eb/9d/4eeb9dcefc38b7b4a52f99a7f7177950.jpg");
  background-size:cover;
  position: relative;
  background-position:top center;
  margin-top:12px;
  margin-left:10px;
  margin-right:12px;
}


.photo-frame:hover .layer{
    background-color: rgba(248, 247, 216, 0);
    transition: background-color 1.2s;
    cursor: pointer;
}
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
.lead {
	position:absolute;
	padding: 0px;
	margin-top:230px;
	margin-left:10px;
	color: black;
	background: #f7f776;
	padding: 30px 15px;
	height: 56px;
	max-width: 250px;
	border-bottom-left-radius: 3%;
	border-bottom-right-radius: 2%;
	box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
	border-radius:10px;
}
.lead-1 {
	position:absolute;
	padding: 0px;
	margin-top:230px;
	margin-left:10px;
	color: black;
	background: #f7f776;
	padding: 30px 15px;
	height: 65px;
	max-width: 250px;
	border-bottom-left-radius: 3%;
	border-bottom-right-radius: 2%;
	box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
	border-radius:10px;
}
.lead-content{
	font-family: 'Architects Daughter', Helvetica, Arial, sans-serif;
	font-size: 1em;
	text-align:left;
	margin-top:-25px;
	margin-bottom:10px;
}
.lead-content-1{
	font-family: 'Architects Daughter', Helvetica, Arial, sans-serif;
	font-size: 0.95em;
	text-align:left;
	margin-top:-25px;
	margin-bottom:10px;
}
.lead-content-2{
	font-family: 'Architects Daughter', Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	text-align:left;
	margin-top:-25px;
	margin-bottom:10px;
}
.table{
	margin-left:140px;
}
button{
  background-color:	#C9DAE9;
  color: black;
	font-size:15px;
  padding: 12px 20px;
  border-color:black;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #97B8D1;
}
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
	}
.wrap{
width:100%;
align-content: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


/* ================================= 
  Media Queries
==================================== */




@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}